<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div class="center jumbotron">
    <h1>Ichans Blog</h1>
    <%= link_to "Sign me up now", "#", class: "btn btn-danger btn-lg btn-xlarge" %>
</body>
</html>